# This is a basic workflow to help you get started with Actions

name: Auto Updater

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Clear all exes
        run: |
          rm -f ./bin/*.exe
          
      # Runs a single command using the runners shell
      - name: Write Last Updated
        run: |
          echo "Last Fetched on:" > LastUpdated.txt
          date >> LastUpdated.txt
      - name: Download Zip to File
        run: curl https://download.sysinternals.com/files/PSTools.zip -o bin.zip
      - name: Download Zip to Directory
        uses: schmiddim/action-wget-unzip@v2
        with:
          # URL of the file to download
          url: https://download.sysinternals.com/files/PSTools.zip
          # New filename to rename the downloaded file
          destination: bin
      - name: Setup Node.js environment
        uses: actions/setup-node@v3.0.0
        with:
          node-version: ">=16.x.x"
      - name: TODO - Check for file changes and make tag
        run: "echo not implemented"
      - name: Commit
        run: |
          git config --global user.email "mirror@wafflepowered.com";
          git config --global user.name "Mirror[BOT]";
          git add .
          git commit -m "chore(update): Update PSUtils (`date`)
          `cat bin/psversion.txt`"
      - name: GitHub Push
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.PAT }}
          branch: main
